body {
	background: #000; 
	height: 100vh;
}
.wrapper span {
	position: fixed;
	bottom: -50px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: deepskyblue;
    box-shadow: 0 0 20px 5px #fff;
	animation: ani1 10s linear infinite, ani2 1.5s ease-in-out infinite alternate;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.wrapper span:nth-child(1) {
	left: 0;
	animation-delay: 0.6s;
}
